/* Footer */

* {
    margin: 0;
    padding: 0;
}


.footer {
    background-color: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    flex-wrap: wrap;
}

.footer a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}