* {
    box-sizing: border-box;
}

.container {
    margin: 30px;
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 50px ;
    flex-wrap: wrap;
}

.container .kid {
    background-color: rgb(197, 197, 197);
    width: calc(25% - 20px); /* Flex items will take 25% of the container width */
    min-height: 150px;
    border-radius: 30px;
    padding: 30px;
}

/* Media query for smaller screens */
@media screen and (max-width: 1024px) {
    .container .kid {
        width: calc(50% - 20px); /* When screen width is less than 1024px, each item takes 50% of the container */
    }
}


@media screen and (max-width: 768px) {
    .container .kid {
        width: calc(100% - 20px); phone
    }
}
