* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0dada;
    display: flex;
    justify-content: center;
    padding: 50px;
}


.course-card {
    width: 350px;
    height: 54%;
    background: #f7f5f5;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.card-header {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    height: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge-top {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 14px;
    opacity: 0.9;
}

.code-icon {
    font-size: 60px;
    color: white;
    font-weight: bold;
}


.card-body {
    padding: 20px;
}

.tag-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.category-tag {
    background: #f0f2ff;
    color: #5a67d8;
    padding: 4px 12px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.rating {
    font-weight: bold;
    color: #333;
}

.course-title {
    font-size: 20px;
    margin-bottom: 10px;
    color: #1a202c;
}

.course-desc {
    font-size: 14px;
    color: #718096;
    line-height: 1.5;
    margin-bottom: 15px;
}

.course-stats {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #a0aec0;
    margin-bottom: 15px;
}

hr {
    border: 0;
    border-top: 1px solid #edf2f7;
    margin-bottom: 15px;
}


.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 18px;
    font-weight: bold;
    color: #5a67d8;
}

.btn-detail {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition:  0.3s;
}

.btn-detail:hover {
    background-color: #0056b3;
}